<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<include
		resource="org/springframework/boot/logging/logback/base.xml" />
	<include
		resource="org/springframework/boot/logging/logback/defaults.xml" />
	<include
		resource="org/springframework/boot/logging/logback/console-appender.xml" />
	<appender name="FILE_TRANS"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- Support multiple-JVM writing to the same log file -->
		<prudent>true</prudent>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>C:\test\aws-lambda-logs\info.%d{yyyyMMdd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>info</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE_ERRORS"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- Support multiple-JVM writing to the same log file -->
		<prudent>true</prudent>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>C:\test\aws-lambda-logs\error.%d{yyyyMMdd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>error</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<logger name="com.aws">
		<appender-ref ref="FILE_TRANS" level="info" />
		<appender-ref ref="FILE_ERRORS" level="error" />
	</logger>
</configuration>